/*main.css*/

body {
	background: url(../img/noisy_grid.png);
}

.maincontent {
	min-height: 35em !important ;
	background-color: #967e87;
	border-right: solid 1px #404040;
	padding: 20px;
	border-top-left-radius: 5px;
}

.sidebar {
	background-color: #96727F;
	margin-top: 10px;
}

.abc {
	background-color: #96727F;
	min-height: 10em;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	text-align: justify;
	clear: both;

}

.footer {
	background-color: #7c7c7c;
	height: 10em;
	border-top: solid 2px black;
}

.hello {
	font-size: 16px;
	margin-bottom: 40px;
}

#copyright {
	text-align: center;
}

.masterhead {
	margin-top:10px;
	margin-bottom: 0px;
	height: 100px;
}

.masterhead ul {
	margin-bottom: 0px;
	margin-top: 0px;
	margin-right: 50px;
	font-family: 'Orbitron', sans-serif;
}


.nav a {
	color: black;
	font-size: 45px;
	padding-top: 20px !important;
	text-align: center;
	padding: 20px 18px 8px 18px !important;
	margin: 0 8px;

}

.nav p {
	font-size: 14px;
	margin: 10px 0 0 0;
	text-align: center;
 }

#logo {
	height: auto;
	padding-top: 10px;
}

#logo a {
	font-size: 80px;
	line-height: 80px;
	font-weight: bold;
	font-family: sans-serif;
	color: black;
	text-align: center;
	float:left;
	font-family: 'Orbitron', sans-serif;
}

#subtitle {
	font-size: 35px;
	line-height: 30px;
	font-weight: 100;
	color: gray;
	float:left;
}

#logo a:hover {
	text-decoration: none;
}


#blog hr {
	margin-top: 0;
}

#blog h2 {
	margin-bottom: 0;
}