/*main.css*/

body {
	background: url(../img/noisy_grid.png);
}

h1,h2 {
	font-family: 'Orbitron', sans-serif;
}
h3,h4 {
	font-family: 'Ubuntu', sans-serif;
}


.maincontent {
	min-height: 35em !important ;
	background-color: #fff;
	border-right: solid 1px #aaa;
	padding: 20px;
	border-top-left-radius: 5px;
}

.sidebar {
	margin-top: 10px;
}

.sidebar h3 {
	margin-bottom: 0px;
	text-decoration: underline;
}

.sidebar ul {
	list-style-type: none;
	font-size: 18px;
	margin-left: 8px;
}

.abc {
	background-color: #fbfbfb;
	min-height: 10em;
	text-align: justify;
	clear: both;
	border: 1px solid #aaa;
	border-bottom: 0;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.footer {
	background-color: #fbfbfb;
	height: 10em;
	margin-bottom: 2em;
	border: solid 1px #aaa;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.hello {
	font-size: 16px;
	margin-bottom: 40px;
}

#copyright {
	text-align: center;
}

.masterhead {
	margin-top:10px;
	margin-bottom: 0px;
	height: 100px;
}

.masterhead ul {
	margin-bottom: 0px;
	margin-top: 0px;
	margin-right: 50px;
	font-family: 'Orbitron', sans-serif;
}


.nav a {
	color: black;
	font-size: 45px;
	padding-top: 20px !important;
	text-align: center;
	padding: 20px 18px 8px 18px !important;
	margin: 0 8px;

}

.nav p {
	font-size: 14px;
	margin: 10px 0 0 0;
	text-align: center;
 }

#logo {
	height: auto;
	padding-top: 10px;
}

#logo a {
	font-size: 80px;
	line-height: 80px;
	font-weight: bold;
	color: #333;
	text-align: center;
	float:left;
	font-family: 'Orbitron', sans-serif;
	text-shadow: -1px -1px 0px #fff;
}

#subtitle {
	font-size: 35px;
	line-height: 30px;
	font-weight: 100;
	color: gray;
	float:left;
	padding-left: 10px;
	text-shadow: -1px -1px 1px #fff;
}

#logo a:hover {
	text-decoration: none;
}


#blog hr {
	margin-top: 0;
}

#blog h2 {
	margin-bottom: 0;
}

